@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {

    /* --first-color: #E8F1F2;
    --second-color: #1b98e0;
    --third-color: #247BA0;
    --forth-color: #006494;
    --fifth-color: #13293D; */

    /* --shadow-color: #10103D; */

    --main-font: "Krona One", sans-serif;
    --second-font: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #13293D;
    /*height: 100vh; vh = viewport height - removed to integrate footer*/
    box-sizing: border-box;
    /* background-color: var(--first-color); */
    color: var(--fifth-color);
    background-image: linear-gradient(135deg, var(--first-color), var(--second-color));
}

.header {
    padding: 2% 0 0 15%;
}
.header__menu {
    background-color: var(--second-color);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 80px;
    filter:drop-shadow(5px 5px 4px var(--shadow-color));
    align-items: center;
}

.header__menu__link {
    font-family: var(--second-font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--fifth-color);
    text-decoration: none;
}

.header__menu__link:hover {
    color: var(--first-color);
}

.presentation {
    padding: 5% 15%;
    display: flex;
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    /*align-items: center;*/
    justify-content: space-between;
    gap: 82px;
}

.presentation__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px; /* https://css-tricks.com/almanac/properties/g/gap/ */
}

.presentation__content__title {
    font-size: 2.25rem;
    font-family: var(--main-font);
    /* -webkit-text-stroke: 0.01rem var(--fifth-color); */
}

.title-highlight {
    color: var(--first-color);
    text-shadow: 0.25rem 0.25rem 0.125rem var(--shadow-color);
    -webkit-text-stroke: 0.01rem var(--fifth-color);
}

.presentation__content__text {
    font-size: 1.5rem;
    font-family: var(--second-font);
}

.presentation__content__text li {
    font-size: 1.0rem;
    font-family: var(--second-font);
}

.presentation__content__text__justify {
    font-size: 1.5rem;
    font-family: var(--second-font);
    color: var(--fifth-color);
    text-align: justify;
    text-indent: 10%;
}

.presentation__content__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.presentation__content__links__subtitle {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1.5rem;
}

.presentation__content__links__link {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 50%;
    text-align: center;
    border: 2px solid var(--fifth-color);
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--fifth-color);
    font-family: var(--second-font);
    background-image: radial-gradient(closest-side at 60%, var(--first-color), var(--second-color), var(--third-color) , var(--forth-color));
    filter:drop-shadow(5px 5px 4px var(--shadow-color));
}

.presentation__content__links__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* gap: 10rem; */
    margin: 32px;
    filter:drop-shadow(5px 5px 4px var(--shadow-color));
}

.presentation__content__links__projects {
    display: flex;
    justify-content: center;
    gap: 2rem;
    /* width: 50%; */
    text-align: center;
    border: 2px solid var(--fifth-color);
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--fifth-color);
    font-family: var(--second-font);
    background-image: radial-gradient(closest-side at 60%, var(--first-color), var(--second-color), var(--third-color) , var(--forth-color));
}

.presentation__content__links__link:hover, .presentation__content__links__projects:hover {
    background-image: radial-gradient(circle, var(--forth-color), var(--third-color), var(--second-color) , var(--first-color));
    /* https://www.w3schools.com/CSSref/sel_hover.php */
}

.box {
    width: 50%;
}

.presentation__image__wrapper {
    width: 50%;
    height: 50%;
    border: 20px solid var(--forth-color);
    display: flex;
    justify-content:center;
    align-items:end;
    border-radius: 10%;
    filter: drop-shadow(15px 10px 4px var(--shadow-color));
  }

.presentation__image {
    width: 100%;
    padding: 0%;
    filter: drop-shadow(20px 04px 4px var(--shadow-color));
    opacity: 90%;
}

.presentation__image__about {
    width: 25%;
    position:fixed;
    top: 20%;
    left: 60%;
    filter: drop-shadow(20px 04px 4px var(--shadow-color));
}

.video {
    filter:drop-shadow(20px 10px 4px var(--shadow-color));
}

.footer {
    margin: 0;
    color: var(--first-color);
    background-color: var(--footer-color);
    padding: 24px;
    text-align: center;
    font-family: var(--second-font);
    font-size: 1.5rem;
    font-weight: 400;
}

.mode {
    float: right;
}

.change {
    cursor: pointer;
    /* border: 1px solid #555;
    border-radius: 5px; */
    /* width: 10px; */
    height: auto;
    text-align: center;
    padding: 0px;
    margin-left: -25px;
    margin-bottom: -5px;
}

#darkicon {
    /* background-image: url(../templates/assets/darkmode.png); */
    width: 50px;
}

.dark {
    background-color: none;
    --fifth-color: #E8F1F2;
    --forth-color: #1b98e0;
    --third-color: #247BA0;
    --second-color: #006494;
    --first-color: #13293D;
    --shadow-color: #10103D;
    --footer-color: var(--third-color);
}

.light {
    background-color: none;
    --first-color: #E8F1F2;
    --second-color: #1b98e0;
    --third-color: #247BA0;
    --forth-color: #006494;
    --fifth-color: #13293D;
    --shadow-color: #13293D;
    --footer-color: var(--fifth-color);
}

.game_title {
    /* margin: 40%; */
    display:inline-block;
}

@media (max-width: 1200px) {
    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
        gap: 5%;
    }

    .header__menu__link {
        font-size: 100%;
    }

    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentation__content {
        width: auto;
        position: relative;
    }

    .presentation__image__wrapper {
        display: flex;
        align-self: center;
        justify-content:center;
        align-items:end;
        border-radius: 10%;
        border: 10px solid var(--forth-color);
      }
    

    .presentation__image__about {
        display: none;
    }
}