<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Me</title>
        <script src="{{ url_for('static', filename='darktoggle.js')}}" type="module"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    </head>
<body>
    <header class="header">
        <nav class="header__menu">
            <a class="header__menu__link" href="/">Home</a>
            <a class="header__menu__link" href="/about">About me</a>
            <a class="header__menu__link" href="/projects">Projects</a>
            <a class="header__menu__link" href="/hobbies">Hobbies</a>
            <div class="mode">
                <span class="change"><img id="darkicon" src="../static/images/darkmode.png" alt="toggle dark mode"></span>
            </div>
        </nav>
    </header>
    <main class="presentation">
        <section class="presentation__content">
            <h1 class="presentation__content__title">About me</h1>
            <div>    
                <p class="presentation__content__text">Bachelor in Civil Engineering and graduating in Information Security, Elder Ramos is a professional of Technology and critical thinking.</p>
            </div>
            <div>
                <p class="presentation__content__text">The expertise carried by this expert presently include:</p>
            </div>
            <div>
                <p class="presentation__content__links__subtitle">Languages</p>
                <p class="presentation__content__text">HTML, CSS, JavaScript, C, C++, Python and PHP.</p>
            </div>

            <div>
                <a class="presentation__content__links__link" href="/certifications" target="_blank">List of Certifications</a>
            </div>
            <div>
                <p class="presentation__content__links__subtitle">Softwares</p>
                <p class="presentation__content__text">Photoshop, AutoCAD, Visual Studio Code, Sublime Text, Microsoft Office, Reaper, Studio One, Adobe Animate</p>
            </div>
            <h2 class="presentation__content__title">Description</h2>
            <div>
                <p class="presentation__content__text__justify">I have taught the basics of informatics voluntarily since 2009, after completing the same course.</p>
                <br>
                <p class="presentation__content__text__justify">I am currently teaching assistant to teach the basics of informatics voluntarily again at the college “Faculdade de Tecnologia de Araraquara (FATEC)”.</p>
                <br>
                <p class="presentation__content__text__justify">Since 2022 I have been studying programming, Information Security and cybersecurity. I know languages such as “HTML”, “CSS” and programming languages such as “JavaScript”, “C", "C++”, Python and "PHP".</p>
                <br>
                <p class="presentation__content__text__justify">I am familiar with Computer Hardware Architecture, Operational Systems, Security principles, vulnerabilities, threats, and much more.</p>
                <br>
                <p class="presentation__content__text__justify">I have studied and specialized in both Front-End development such as the creation of websites or apps and Cybersecurity for what’s known as “ethical hackers”. Cybersecurity for ethical hackers is focused on “Blue Team” or “Red Team hackers”, there are various types of hackers and there are different categories for each. Ethical hackers follow laws and ethics, causing no harm. The Blue team defends companies, while the Red team finds vulnerabilities, breaches, and reports for fixes. I'm currently enrolled in a 3-year cybersecurity course, and IT has become a passion of mine that I would love to share with you.</p>
            </div>
        </section>
        <div class="presentation__image__wrapper">
            <img class="presentation__image" src="{{ url_for('static', filename='images/perfil.png') }}" alt="Image of Elder Ramos">         
        </div>    
    </main>

    <footer class="footer">
        <p>Developed by Elder Ramos, 2025.</p>
    </footer>
</body>
</html>