<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <script src="{{ url_for('static', filename='darktoggle.js')}}" type="module"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
        <nav class="header__menu">
            <a class="header__menu__link" href="/">Home</a>
            <a class="header__menu__link" href="/about">About me</a>
            <a class="header__menu__link" href="/projects">Projects</a>
            <a class="header__menu__link" href="/hobbies">Hobbies</a>
            <div class="mode">
                <span class="change"><img id="darkicon" src="../static/images/darkmode.png" alt="toggle dark mode"></span>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer class="footer">
        <p>Developed by Elder Ramos, 2025.</p>
    </footer>
</body>
</html>