{% extends "base.html" %}

{% block title %}Portfolio - Home{% endblock %}

{% block content %}
<main class="presentation">
    <section class="presentation__content">
        <h1 class="presentation__content__title">Improve your digital business to a higher level with a <strong class="title-highlight">high quality Front-end!</strong></h1>
        <p class="presentation__content__text__justify">Hi! I'm Elder Ramos, Front-end developer proficient in <strong>React, HTML, CSS, JavaScript, C, C++, Python and PHP</strong>. I collaborate with small business and designers to bring inovative ideas to life. Would you like to discuss your project?</p>
        <div class="presentation__content__links">
            <h2 class="presentation__content__links__subtitle">Access my Social Medias</h2>
            <a class="presentation__content__links__link" href="https://github.com/Elderguard">
                <img src="{{ url_for('static', filename='images/github.png') }}" alt="github logo">
                GitHub
            </a>
            <a class="presentation__content__links__link" href="https://www.linkedin.com/in/elder-ramos-821930103/">
                <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="linkedin logo">
                LinkedIn
            </a>
            <a class="presentation__content__links__link" href="https://www.twitch.tv/elderguardbr">
                <img src="{{ url_for('static', filename='images/twitch.png') }}" alt="twitch logo">
                Twitch
            </a>
        </div>
    </section>
    <div class="presentation__image__wrapper">
        <img class="presentation__image" src="{{ url_for('static', filename='images/perfil.png') }}" alt="Image of Elder Ramos">         
    </div>
</main>
{% endblock %}