<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projects</title>
        <script src="{{ url_for('static', filename='darktoggle.js')}}" type="module"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    </head>
<body>
    <header class="header">
        <nav class="header__menu">
            <a class="header__menu__link" href="/">Home</a>
            <a class="header__menu__link" href="/about">About me</a>
            <a class="header__menu__link" href="/projects">Projects</a>
            <a class="header__menu__link" href="/hobbies">Hobbies</a>
            <div class="mode">
                <span class="change"><img id="darkicon" src="../static/images/darkmode.png" alt="toggle dark mode"></span>
            </div>
        </nav>
    </header>
    <main class="presentation">
        <section class="presentation__content">
            <h1 class="presentation__content__title">Projects</h1>
            <div  class="presentation__content__links">
                <div>    
                    <p class="presentation__content__links__subtitle">This page was created to include some of my personal projects.</p>

                    <a class="presentation__content__links__projects" href="./games/crossroad_final/crossroad_game.html" target="_blank">Crossroad game</a>

                    <a class="presentation__content__links__projects" href="./games/pingpong/pingpong.html" target="_blank">Ping-Pong game</a>

                    <a class="presentation__content__links__projects" href="./games/meltingSnowman_final/meltingSnowman/starter-files/index.html" target="_blank">Melting Snowman game</a>

                    <a class="presentation__content__links__projects" href="./games/snake/snake.html" target="_blank">Snake</a>

                    <a class="presentation__content__links__projects" href="../games/flappy_bird/flappy/Flappy bird/flappy.html" target="_blank">Flappy Bird [in maintenance]</a>
                </div>
            </div>
                <div>
                <p class="presentation__content__links__subtitle">Softwares</p>
                <p class="presentation__content__text">Photoshop, AutoCAD, Visual Studio Code, Sublime Text, Microsoft Office, Reaper, Studio One, Adobe Animate</p>
            </div>
        </section>
        <div class="presentation__image__wrapper">
            <img class="presentation__image" src="{{ url_for('static', filename='images/perfil.png') }}" alt="Image of Elder Ramos">         
        </div>
    </main>

    <footer class="footer">
        <p>Developed by Elder Ramos, 2025.</p>
    </footer>
</body>
</html>