  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  
  .container img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .MeltingSnowman {
    width: 400px;
    height: 400px;
    border: 2px solid blue;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .crossroad iframe {
    border: 10px solid #13293D;
    position: relative;
    width: 500px;
    height: 442px;
    /* border: 2px solid blue; */
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: scale(155%) ;
    top: -39px;
    scroll-behavior:unset;
  }

  .pingpong {
    margin: 20%;
  }

  .pingpong iframe {
    border: 10px solid #13293D;
    /* position: static; */
    width: 600px;
    height: 442px;
    /* border: 2px solid blue; */
    margin: 20%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    -webkit-transform: scale(155%) ;
    scroll-behavior:unset;
    clear: both;
    margin-bottom: 100%;
  }
  
  .word {
    font-size: 2rem;
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  
  .letters {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .letters button {
    margin: 5px;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    background-color: blue;
    color: #fff;
    cursor: pointer;
  }
  
  .message {
    font-size: 1.5rem;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1200px) {
    .crossroad {
      width: 95%;
      height: 60%;
    }

    .crossroad iframe {
      width: 500px;
      height: 442px;
    -webkit-transform: scale(100%) ;
    }
  }

  .pingpong iframe {
    width: 600px;
    height: 442px;
    -webkit-transform: scale(100%) ;
  }